@keyframes moveDown {
    from {
        top: 30%;
    }
    to {
        top: 50%;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 40;

    &__close {
        background-color: rgba(0, 0, 0, 0.85);
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 90%;
        width: 65%;
        border-radius: 8px;
        overflow: hidden;
        animation: moveDown 0.6s forwards;

        &__background {
            height: 70%;
            & img {
                width: 100%;
                height: 100%;
            }

            & .btnClose {
                position: absolute;
                top: 14px;
                right: 16px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.4);
                cursor: pointer;
                transition: all 0.3s linear;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__detail {
            display: grid;
            grid-template-columns: 3fr 1fr;
            background-color: #3d303d;
            width: 100%;
            height: 30%;
            padding: 5px 25px 10px 25px;

            & .left {
                & .title {
                    font-size: 30px;
                    font-weight: bold;
                    margin-right: 10px;
                    color: var(--color-red);
                    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
                }

                & .quality {
                    border: white 2px solid;
                    border-radius: 4px;
                    padding: 0px 4px;
                    position: absolute;
                    transform: translateY(8px);
                }

                & .title.quality {
                    vertical-align: ce;
                }

                & .overview {
                    color: var(--color-white);
                    font-style: italic;
                    padding-top: 10px;
                    word-wrap: break-word;
                }
            }

            & .right {
                display: block;
                margin-left: 50px;
                margin-top: 40px;

                & .rating {
                    color: #21d07a;
                    margin-right: 5px;
                }
            }

            & span,
            p {
                font-size: 14px;
            }
        }
    }
}

.showModal {
    display: block;
}

.hideModal {
    display: none;
}
