.movieContainer {
    position: relative;
    background-color: var(--color-background);
    color: var(--color-white);
    padding: 0px 50px;
    width: 100%;
    height: 100%;

    & .btnLeft {
        position: absolute;
        top: 50%;
        left: 70px;
        // transform: translateY(-20%);
        z-index: 20;

        background-color: rgba(0, 0, 0, 0.6);
        font-size: 40px;
        padding: 20px 0px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        cursor: pointer;

        & svg {
            transition: all 0.3s linear;
            opacity: 0.7;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        &:hover svg {
            opacity: 1;
            transform: scale(1.2);
        }
    }

    & .btnRight {
        position: absolute;
        top: 50%;
        right: 70px;
        // transform: translateY(-20%);
        z-index: 20;

        background-color: rgba(0, 0, 0, 0.6);
        font-size: 40px;
        padding: 20px 0px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        cursor: pointer;

        & svg {
            transition: all 0.3s linear;
            opacity: 0.7;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        &:hover svg {
            opacity: 1;
            transform: scale(1.2);
        }
    }
}

.movieHeading {
    font-size: 30px;
    padding: 40px 0px 0px 0px;
    user-select: none;
}

.movieSlider {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(20, 300px);
    transition: all linear 0.3s;
    user-select: none;

    overflow-y: hidden;
    overflow-x: auto;
    overflow: hidden;

    padding: 28px 0px;
    scroll-behavior: smooth;

    &:hover .movieItem {
        opacity: 0.5;
    }

    & .movieItem {
        transform: scale(1);
        max-width: 300px;
        max-height: 400px;
        width: 100%;
        height: 100%;

        transition: all 0.3s linear;
        user-select: none;
        overflow: hidden;
        border-radius: 16px;
        transform: center left;
        position: relative;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            z-index: 10;
            opacity: 1;
        }

        & img {
            width: 100%;
            height: 100%;
            // object-fit: cover;
        }
    }

    & .movieName {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25px;
        text-align: center;
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
