.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #dfdfde;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 50;

    & .formLogin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: #162336;
        width: 30%;
        height: 60%;
        padding: 20px 50px;
        border-radius: 16px;
        box-shadow: 0px 0px 10px 6px #888888;

        & .heading {
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            color: var(--color-red);
            margin-bottom: 40px;
        }

        & .username,
        .password {
            width: 100%;
            height: 10%;
            margin: 25px 0px;
            display: flex;
            align-items: center;

            & svg {
                width: 22px;
                height: 22px;
                color: #dfdfde;
            }
        }

        & .btnLogin {
            width: 100%;
            background-color: var(--color-red);
            padding: 8px;
            margin: 20px 0px 30px 0px;
            border-radius: 25px;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
            &:hover {
                background-color: #f25267;
            }
        }

        & input {
            width: 88%;
            height: 100%;
            padding: 10px 8px 0px 8px;
            margin-left: 8px;
            margin-bottom: 15px;
            font-size: 15px;
            background-color: transparent;
            outline: none;
            border-bottom: 1px solid white;
            color: #fff;

            &:focus {
                border-bottom: 1px solid #00c1d4;
            }
        }

        & .forgot_password {
            width: 100%;
            text-align: right;
            margin-bottom: 20px;
            & a {
                font-size: 14px;
                color: #9097a0;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                    color: #fff;
                }
            }
        }

        & .sign_up {
            width: 100%;
            text-align: center;
            & a {
                font-size: 14px;
                color: #1575ea;

                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                    color: #51acf7;
                }
            }

            & span {
                font-size: 14px;
            }
        }

        & .error {
            color: red;
            margin: -20px 0px 20px 30px;
            font-size: 14px;
        }
    }
}
